<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <div class="jumbotron text-center">
            <h1>Statistiques
                <button class="glyphicon glyphicon-refresh btn btn-lg"
                        ng-click="statistiques.loadStatistiques()"></button>
            </h1>
            <section>
                <div class="panel panel-default" ng-repeat="statistique in statistiques.statistiques track by $index">
                    <div class="panel-heading">{{statistique.host}} - {{statistique.entries|total:'count'}}</div>
                    <table class="table text-left">
                        <tbody>
                        <tr ng-repeat="entry in statistique.entries">
                            <td>{{entry.url}}</td>
                            <td>{{entry.count}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </section>
        </div>
    </div>
</div>